.product-img-admin{
    width: 130px;
    height: 130px;
}
.pen-icon-admin, .delete-icon-admin, .save-icon-admin{
    width: 20px;
    height: 20px;
}
.save-icon-admin{
    margin-left: -10px;
}
.disable-icon-admin{
    width: 17px;
    height: 19px;
    margin-left: 20px;
}
.save-icon-admin:hover, .disable-icon-admin:hover{
    cursor: pointer;
    height: 22px;
}
.pen-icon-admin:hover, .delete-icon-admin:hover{
    cursor: pointer;
    width: 23px;
    height: 23px;
    transition: .4s;
}
.update-ip{
    width: 100px;
    border: none;
    height: 35px;
}
.update-border{
    text-indent: 5px;
    border-bottom: 1px solid black ;
}
.update-id{
    width: 190px;
}
.update-file{
    width: 203px;
    margin-left: 13px;
    margin-top: 23px;
    border: none ;
    display: block;
}
.update-ip:focus{
    outline: none;
    border-bottom: 2px solid blue ;
    transition: .2s;
}
.MuiTableBody-root > tr {
    background-color: #c0c0c04a !important;
    height: 140px;
}
img.plus-icon{
    width: 50px;
    height: 50px;
    float: right;
    margin-bottom: 20px;
}
img.plus-icon:hover{
    width: 58px;
    height: 58px;
    cursor: pointer;
    transition: .5s
}
