.form {
    /* display: flex; */
    border-top: 2px solid #D3D3D3;
}

.inputAdmin {
    border: none;
    border-radius: 0;
    padding-left: 3%;
    width : 85%;
    font-size: 1.2em;
    height: 80px;
}

input:focus, textarea:focus, select:focus {
    outline: none
}

.sendButtonAdmin {
    color: #fff !important;
    text-decoration: uppercase;
    text-decoration: none;
    background: black;
    padding: 20px;
    display: inline-block;
    border: none;
    width: 15%;
    height: 80px;
}